In [1]:
import pandas as pd
s = pd.Series([1,3,5,9,6,8])
print(s)

0    1
1    3
2    5
3    9
4    6
5    8
dtype: int64

In [2]:
import pandas as pd
dict1 = {'col1':[1,2,5,7],'col2':['a','b','c','d']}
df = pd.DataFrame(dict1)
df

   col1 col2
0     1    a
1     2    b
2     5    c
3     7    d

In [3]:
dict2 = {'num':[1,2,5,7],'name':['a','b','c','d']}
df1 = pd.DataFrame(dict2)
df1

   num name
0    1    a
1    2    b
2    5    c
3    7    d

In [4]:
lista = [1,2,5,7]
listb = ['a','b','c','d']
df = pd.DataFrame({'num':lista,'name':listb})
df

   num name
0    1    a
1    2    b
2    5    c
3    7    d

In [5]:
df.columns = ['Id','Name','Gender']
df

ValueError: Length mismatch: Expected axis has 2 elements, new values have 3 elements

In [6]:
df.columns = ['Id','Name']
df

   Id Name
0   1    a
1   2    b
2   5    c
3   7    d

In [7]:
df['name']

KeyError: 'name'

In [8]:
df['Name']

0    a
1    b
2    c
3    d
Name: Name, dtype: object

In [9]:
dict_a = {'user_id':['weifang','wubang','weifang'],'rating':[4,4,3],'book_id':['3713327','4074636','26873486'],'mark_date':['2017-03-08','2017-03-07','2017-03-07']}
df = pd.DataFrame(dict_a) # 从字典创建DataFrame
print(df)
df = df[['user_id','book_id','rating','mark_date']] # 调整列顺序为'user_id','book_id','rating','mark_date'
df.index = range(1,len(df) + 1) # 将index改成从1开始
df

   user_id  rating   book_id   mark_date
0  weifang       4   3713327  2017-03-08
1   wubang       4   4074636  2017-03-07
2  weifang       3  26873486  2017-03-07

   user_id   book_id  rating   mark_date
1  weifang   3713327       4  2017-03-08
2   wubang   4074636       4  2017-03-07
3  weifang  26873486       3  2017-03-07

In [10]:
#select  * from df where rating>3
#df.head(2)
df['rating']>3

1     True
2     True
3    False
Name: rating, dtype: bool

In [11]:
df[df['rating']>3].head(1)

   user_id  book_id  rating   mark_date
1  weifang  3713327       4  2017-03-08

In [12]:
df[df['rating']>3]

   user_id  book_id  rating   mark_date
1  weifang  3713327       4  2017-03-08
2   wubang  4074636       4  2017-03-07

In [13]:
df[df['rating']>3].head(2)

   user_id  book_id  rating   mark_date
1  weifang  3713327       4  2017-03-08
2   wubang  4074636       4  2017-03-07

In [14]:
df.groupby('user_id')['rating'].mean()

user_id
weifang    3.5
wubang     4.0
Name: rating, dtype: float64